# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.tx

# Django stuff:
*.log

# Miscellaneous directories
bin/
include/
run/
src/
logs/
media/
static/*
taikonetwork/static/*
!taikonetwork/static/css/
!taikonetwork/static/misc/
!taikonetwork/static/js/
taikonetwork/static/js/*
!taikonetwork/static/js/taiko/
taikonetwork/datahandler/tools/data/
share/
.*
!.gitignore


# Virtual environment
pyvenv.cfg

# Auth stuff
local_settings.py
api_authentication.py
