# PACKAGE DEPENDENCIES:

# Required by psycopg2
setuptools-git==1.0

# Required by django-salesforce
requests==2.6.0
pytz==2015.2

# MAIN PACKAGES:
Django==1.7
django-salesforce==0.5
gunicorn==18.0
psycopg2==2.5.3
py2neo==1.6.4
setproctitle==1.1.8
python3-memcached==1.51
