{% extends "base-explore.html" %}

{% block title %}Taiko Network: Find Connections{% endblock %}

{% block custom-css %}
<link href="#" rel="stylesheet">
{% endblock %}

{% block navbar-active %}
            <li><a href="/map/">Map</a></li>
            <li><a href="/map/groups/">Groups</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphs<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/graphs/network/">Network Graph</a></li>
                <li><a href="/graphs/demographic/">Demographics Graph</a></li>
                <li class="active"><a href="/graphs/connection/">Find Connections</a></li>
                <li><a href="/graphs/degree/">Degrees of Separation</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Metrics<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/metrics/ranking/">Ranking</a></li>
                <li><a href="/metrics/centrality/">Centrality</a></li>
              </ul>
            </li>
{% endblock %}

{% block content %}
    <div class="container">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion"
                      href="#connections-input">Find Connections</a>
                </h4>
              </div>
              <div id="connections-input" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>Find the path (if it exists) that connects any
                        two members of the taiko community.</p>
                    <p>Enter the first and last name of the members.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock %}

