{% extends "base-explore.html" %}

{% block title %}Taiko Network: Demographic Graph{% endblock %}

{% block custom-css %}
    <link href="{{ STATIC_URL }}css/plugins/bootstrap-slider.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/graph-custom.css" rel="stylesheet">
{% endblock %}

{% block navbar-active %}
            <li><a href="/map/">Map</a></li>
            <li><a href="/map/groups/">Groups</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphs<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/graphs/network/">Network Graph</a></li>
                <li class="active"><a href="/graphs/demographic/">Demographics Graph</a></li>
                <li><a href="/graphs/membership/">Membership Graph</a></li>
                <li><a href="/graphs/connection/">Find Connections</a></li>
                <li><a href="/graphs/degree/">Degrees of Separation</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Metrics<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/metrics/ranking/">Ranking</a></li>
                <li><a href="/metrics/centrality/">Centrality</a></li>
              </ul>
            </li>
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <!-- Graph control overlay -->
      <div class="container">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default transparent">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                    href="#demographic-options">Demographics Graph</a>
              </h3>
            </div>

            <div id="demographic-options" class="panel-collapse collapse">
              <div class="panel-body">
                <!-- Graph grouping controls -->
                <div class="btn-group graph-control-elem" data-toggle="buttons">
                  <button type="button" class="btn label-font" disabled>Group members by: </button>
                  <label class="btn btn-primary active">
                    <input type="radio" name="group-option" id="group-default" value="default" checked> Default
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="group-option" id="group-gender" value="gender"> Gender
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="group-option" id="group-race" value="race"> Race
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="group-option" id="group-asianethnicity" value="asian_ethnicity"> Asian Ethnicity
                  </label>
                  <label class="btn btn-primary">
                  <!-- TODO: implement grouping by age -->
                    <input type="radio" name="group-option" id="group-age" value="default"> Age
                  </label>
                </div>

                <input type="hidden" id="lastGroupOption" value="default">
                <div class="graph-control-btn">
                  <input type="submit" class="btn btn-success" id="regroup-btn" value="Display Groups">
                </div>
                <div style="clear: both;"></div>
                <hr>

                <!-- Graph filter controls -->
                <h4>Filters</h4>
                <div class="graph-control-inline">
                  <button type="button" class="btn label-font" disabled>Gender: </button>
                  <select id="gender-category" class="form-control">
                    <option value="" selected>All genders</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>

                <div class="graph-control-inline">
                  <button type="button" class="btn label-font" disabled>Race: </button>
                  <select id="race-category" class="form-control">
                    <option value="" selected>All races</option>
                  </select>
                </div>

                <div class="graph-control-inline">
                  <button type="button" class="btn label-font" disabled>Asian Ethnicity: </button>
                  <select id="asian-category" class="form-control">
                    <option value="" selected>All asian ethnicities</option>
                  </select>
                </div>

                <div class="graph-control-elem">
                  <button type="button" class="btn label-font" disabled>Age: </button>
                  <input id="ageRangeSlider" type="text" value="">
                  <strong>Age Range (years old): <span id="ageRangeVal">1 – 80+</span></strong>
                </div>

                <div class="graph-control-btn">
                  <input type="submit" class="btn btn-danger" id="reset-filter-btn" value="Reset Filters">
                </div>
                <div style="clear: both;"></div>
              </div> <!-- end .panel-body -->
            </div> <!-- end .panel-collapse -->
          </div> <!-- end .panel -->
        </div> <!-- end .panel-group #accordion -->
      </div>
      <!-- end .container -->

      <!-- Graph visualization -->
      <div>
        <div id="legend-box" class="legend">
          <h4>Groups:</h4>
          <div id="legend-groups"></div>
        </div>
        <div id="graph-container"></div>
      </div>
    </div>
    <!-- end .jumbotron .canvas -->
{% endblock %}

{% block custom-js %}
    <!-- sigma.js -->
    <script src="{{ STATIC_URL }}js/sigma/sigma.min.js"></script>
    <script src="{{ STATIC_URL }}js/sigma/plugins/sigma.plugins.filter.min.js"></script>
    <script src="{{ STATIC_URL }}js/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/bootstrap-slider.min.js"></script>
    <script>var graphData = {{ graph_json | safe }}</script>
    <script>var configData = {{ config_json | safe }}</script>
    <script src="{{ STATIC_URL }}js/taiko/demographic_graph.js"></script>
{% endblock %}

