{% extends "base-explore.html" %}

{% block title %}Taiko Network: Map{% endblock %}

{% block custom-css %}
    <link href="{{ STATIC_URL }}css/plugins/bootstrap-slider.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/map-custom.css" rel="stylesheet">
{% endblock %}

{% block navbar-active %}
            <li class="active"><a href="/map/">Map</a></li>
            <li><a href="/map/groups/">Groups</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphs<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/graphs/network/">Network Graph</a></li>
                <li><a href="/graphs/demographic/">Demographics Graph</a></li>
                <li><a href="/graphs/connection/">Degrees of Separation</a></li>
              </ul>
            </li>
            <li><a href="/metrics/">Metrics</a></li>
{% endblock %}

{% block content %}
    <div id="slider-container">
      <div id="slider-element">
        <div>
          <label for="year">Filter by Founding Year : </label>
          <span id="slider-control">
            <div id="slider"></div>
          </span>
          <input type="text" id="year" readonly style="border:0; color:#ff0261; font-weight:bold;">
        </div>
      </div>
    </div>
    <div id="map-container"></div>
{% endblock %}

{% block custom-js %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/bootstrap-slider.min.js"></script>
    <script>var worldMapData = "{{ STATIC_URL }}data/world-topo-min.json";</script>
    <script>var groups = {{ groups_json | safe }};</script>
    <script src="{{ STATIC_URL }}js/taiko/groupmap.js"></script>
{% endblock %}
