{% extends "base-index.html" %}

{% block title %}Taiko Network: About{% endblock %}

{% block navbar-active %}
          <!--
          <li><a href="/login/">
            <span class="glyphicon glyphicon-user icon-sep"></span>Login</a></li>
          -->
          <li class="active"><a href="/about/">
            <span class="glyphicon glyphicon-info-sign icon-sep"></span>About</a></li>
{% endblock %}

{% block content %}
      <div class="container">
        <h3>About</h3>
        <hr>
        <div class="narrow">
          <p>
            The Taiko Network (also known as the Taiko Mapping Project) is an
            effort to map, archive, and visualize the connections between groups
            and members in the Taiko community.
          </p>

          <p>
            The goals of the project are:
            <ul>
              <li>to develop a comprehensive and accurate resource for the Taiko community,</li>
              <li>to document the continuing growth of Taiko,</li>
              <li>and to explore the social connectivity of the Taiko community
                    as a result of its unique historical development.</li>
            </ul>
          </p>
        </div>
      </div>

      </br>

      <div class="container">
        <h4>Contact</h4>
        <hr>
        <div class="narrow">
          <ul class="icon-list">
            <li><span class="glyphicon glyphicon-envelope icon-sep"></span>
              For technical issues/inquries:
              <a href="mailto:tech@taikocommunityalliance.org?Subject=Technical%20Inquiry:" target="_top">
              tech@taikocommunityalliance.org</a>
            </li>
            <li><span class="glyphicon glyphicon-envelope icon-sep"></span>
              For all other inquiries:
              <a href="mailto:info@taikocommunityalliance.org?Subject=Additional%20Info:" target="_top">
              info@taikocommunityalliance.org</a>
            </li>
            <li><span class="glyphicon glyphicon-globe icon-sep"></span>
              Additional information can also be found at
              <a href="http://taikocommunityalliance.org" target="_blank">taikocommunityalliance.org</a>.
            </li>
          </ul>
        </div>
      </div>

      </br>

      <div class="container">
        <h4>Support the Taiko Network</h4>
        <hr>
        <div class="narrow">
          <p>
            The Taiko Network is a project supported by and associated with the
            Taiko Community Alliance, a registered 501(c) nonprofit organization.
            </br>
            If you would like to support the Taiko Community Alliance and the
            ongoing development and maintenance of this site, please consider
            making a donation.
          </p>
          <p><a class="btn btn-lg btn-success" role="button" href="http://taikocommunityalliance.org/membership/" target="_blank">Make a Donation</a></p>
        </div>
      </div>
{% endblock %}
