{% extends "base-index.html" %}

{% block title %}Taiko Network: About{% endblock %}

{% block navbar-active %}
          <li><a href="/login/">
            <span class="glyphicon glyphicon-user icon-sep"></span>Login</a></li>
          <li class="active"><a href="/about/">
            <span class="glyphicon glyphicon-info-sign icon-sep"></span>About</a></li>
{% endblock %}

{% block content %}
      <div class="container">
        <h3>About</h3>
        <hr>

        <p>
          TO-DO: describe Taiko Network project
          </br>
          The Taiko Network (also known as the Taiko Mapping Project) is...
        </p>

        <p>
          TO-DO: describe history
          </br>
          The Taiko Network started as...
        </p>

        <p>
          TO-DO: describe technical/development details
          </br>
          This site was developed...
        </p>
      </div>

      </br>

      <div class="container">
        <h4>Contact</h4>
        <hr>
        <ul class="icon-list">
          <li><span class="glyphicon glyphicon-envelope icon-sep"></span>
            For technical issues/inquries:
            <a href="mailto:tech@taikocommunityalliance.org?Subject=Technical%20Inquiry:" target="_top">
            tech@taikocommunityalliance.org</a>
          </li>
          <li><span class="glyphicon glyphicon-envelope icon-sep"></span>
            For all other inquiries:
            <a href="mailto:info@taikocommunityalliance.org?Subject=Additional%20Info:" target="_top">
            info@taikocommunityalliance.org</a>
          </li>
          <li><span class="glyphicon glyphicon-globe icon-sep"></span>
            Additional information can also be found at
            <a href="http://taikocommunityalliance.org" target="_blank">taikocommunityalliance.org</a>.
          </li>
        </ul>
      </div>

      </br>

      <div class="container">
        <h4>Support the Taiko Network</h4>
        <hr>
        <p>
          The Taiko Network is a project supported by and associated with the
          Taiko Community Alliance, a registered 501(c) nonprofit organization.
          </br>
          If you would like to support the Taiko Community Alliance and the
          ongoing development and maintenance of this site, please consider
          making a donation.
        </p>
        <p><a class="btn btn-lg btn-success" role="button" href="http://taikocommunityalliance.org/membership/" target="_blank">Make a Donation</a></p>
      </div>
{% endblock %}
