{% extends "base-index.html" %}

{% block title %}Taiko Network{% endblock %}

{% block navbar-active %}
          <li><a href="/login/"><span class="glyphicon glyphicon-user icon-sep"></span>Login</a></li>
          <li><a href="/about/"><span class="glyphicon glyphicon-info-sign icon-sep"></span>About</a></li>
{% endblock %}

{% block content %}
    <!-- graph visualization container -->
    <div class="jumbotron graph-bg">
      <div class="graph-control">
        <button class="btn" id="force-control">PAUSE</button>
      </div>
      <div id="graph-container"></div>
    </div>

    <!-- tagline -->
    <div class="infocontainer">
        <p>Taiko Network — An effort to map, archive, and visualize the connections
        </br>between groups and members in the Taiko community.</p>
    </div>

    <!-- explore button -->
    <div class="btncontainer">
      <p><a class="btn btn-lg btn-success" href="/map/" role="button">Explore Now</a></p>
    </div>
{% endblock %}

{% block sigmajs %}
    <!-- sigma.js -->
    <script src="{{ STATIC_URL }}js/sigma/sigma.min.js"></script>
    <script src="{{ STATIC_URL }}js/sigma/plugins/sigma.parsers.json.min.js"></script>
    <script src="{{ STATIC_URL }}js/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
    <script>var graphData = "{{ STATIC_URL }}data/index_graph.json";</script>
    <script src="{{ STATIC_URL }}js/taiko/index_graph.js"></script>
{% endblock %}
