/* Move down content because of fixed navbar that is 50px tall. */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  color: #777;
}

.navbar-default {
  border-color: #cfcfcf;
  border-bottom-style: inset;
}

.logo-font {
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
  font-size: 28px;
}

.icon-sep {
  margin-right: 5px;
}

.graph-bg {
  background: #222;
  padding-top: 3px;
  padding-bottom: 3px;
}

#graph-container {
  width: 100%;
  height: 500px;
  margin: 0;
  background: #222;
}

.graph-control {
  text-align: left;
}

.graph-control .btn {
  padding: 3px 10px;
  background-color: #222;
  color: #fff;
}

.infocontainer {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  color: #777;
}

.btncontainer {
  text-align: center;
  margin: 30px 0 60px;
}

.btncontainer .btn {
  padding: 14px;
  font-size: 21px;
}

.icon-list {
  list-style: none;
  padding-left: 0;
}
