/* Move down content because of fixed navbar that is 50px tall. */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  color: #777;
}

.navbar-default {
  border-color: #cfcfcf;
  border-bottom-style: inset;
}

.logo-font {
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
  font-size: 28px;
}

.icon-sep {
  margin-right: 5px;
}

.graph-bg {
  background: #222;
  padding-top: 3px;
  padding-bottom: 3px;
}

#graph-container {
  width: 100%;
  height: 500px;
  margin: 0;
  background: #222;
}

.graph-control {
  text-align: left;
}

.graph-control .btn {
  padding: 3px 10px;
  background-color: #222;
  color: #fff;
}

.infocontainer {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  color: #777;
}

.btncontainer {
  text-align: center;
  margin: 30px 0 60px;
}

.btncontainer .btn {
  padding: 14px;
  font-size: 21px;
}

.icon-list {
  list-style: none;
  padding-left: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 60px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.login-checkbox {
  margin: 15px 0;
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.narrow-block {
  max-width: 550px;
  padding: 15px;
  margin-top: 200px;
  margin-bottom: 50px;
}
.register-divider {
  margin: 15px 0;
}
.title-inline {
  display: inline;
  margin-right: 15px;
}
#acct-email {
  width: 250px;
}
#find-acct-form {
  display: inline;
}
