.search-filter {
  display: inline-block;
  margin: 0.5em;
}

.misc-filter {
  margin: 0.5em;
}

#type_filter_div .charts-combobox .charts-menu {
  width: 252px;
}

.table-container {
  width: 80%;
  margin: auto;
}

.figure-title {
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
  text-align: center;
  margin-top: 0;
}
