.search-filter {
  display: inline-block;
  margin: 0.5em;
}

.misc-filter {
  margin: 0.5em;
}

#type_filter_div .charts-combobox .charts-menu {
  width: 252px;
}

.figure-title {
  text-align: center;
}
